dash==1.18.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dash-bootstrap-components==0.11.0
gunicorn==20.0.4
numpy==1.19.1
pandas==1.1.5
plotly==4.10.0
joblib==1.0.0
scikit-learn==0.22.2.post1


